/*This is Sparksammy's Super-Simple Dark Theme. */
/* If you use this PLEASE give credit. Thanks! */
body {
     color: white;
     background-color: black;
     font-size: 125%;
}
a {
     color: yellow;
}
