/*This is Sparksammy's Super-Simple Dark Theme. */
/*Inspired by stallman.org's "Dark Mode"*/
/* If you use this as a source PLEASE give credit. Thanks! */
* {
     color: white;
     background-color: black;
}
span {
     color: white;
     background-color: black;
}

input {
     color: gold;
     background-color: grey;
}
pre {
     color: black;
     background-color: grey;
}
a {
     color: yellow;
     background-color: black;
}
img {
     background-color: black;
     filter: brightness(50%);
}
td {
     color: white;
}
body {
     color: white;
     background-color: black;
     font-size: 125%;
}

h1 {
     color: yellow;
}
video::-webkit-media-controls-start-playback-button {
    display: none;
}
h2 {
     color: yellow;
}
h3 {
     color: tan;
}
h4 {
     color: sandybrown;
}
