/*This is Sparksammy's Super-Simple Dark Theme. */
/*Inspired by stallman.org's "Dark Mode"*/
/* If you use this as a source PLEASE give credit. Thanks! */
html {
     color: white;
     background-color: black;
}
html {
     color: white;
     background-color: black;
}
div {
     color: white;
     background-color: black;
}
td {
     color: white;
}
body {
     color: white;
     background-color: black;
     font-size: 125%;
}
a {
     color: yellow;
}

h1 {
     color: yellow;
}
h2 {
     color: yellow;
}
h3 {
     color: tan;
}
h4 {
     color: sandybrown;
}
